
	
		<div id = "num1">46</br>
		<div id = "num2">78</br>
		<input type = "submit" value = "sum" onclick = "sum()"></br>

		sum of thier last digit = <div id = "add"/>
	
	<script>
		function sum(){
			var num1 = parseInt(document.getElementById("num1").innerHTML)
			var num2 = parseInt(document.getElementById("num2").innerHTML)
			var num3 = (num1 % 10)
			var num4 = (num2 % 10)
			var s = num3 + num4
			console.log(s)
			document.getElementById("add").innerHTML = s
		}




	</script>




